rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /environments/{environment} {
      match /profiles/{uid} {
        allow read: if request.auth.uid == uid;
      }
      match /foodChoices/{uid} {
        allow read: if request.auth.uid == uid;
      }
      match /dietaryRestrictions/{refCode} {
        allow read: if true;
      }
      match /configuration/{configKey} {
        allow read: if true;
      }
      match /networkingProfiles/{uid} {
        allow read: if request.auth.uid == uid;
      }
    }
  }
}